.App {
  text-align: center;
}
.iconBorder{
  border: 2px;
  border-color: black
}
.topMargin{
  margin-top: 50px;
}

.botMargin{
  bottom: 100px

}

.noMargin{
  margin: 0;
}

input[type='radio'], .avatar-img {
  opacity: 0.3;
}


input[type='radio'] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

input[type='radio']:checked + label .avatar-img {
  opacity: 1.0;
}

.quater{
  width: 25%
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}
.centerCarousel {
  text-align: center;
  height: 10%
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
